.c-discover__item {
  .h6, .h5 {
    color: $primary;
  }

  &:hover {
    .h6, .h5 {
      color: $primary-light;
    }
  }

  figure {
    width: 100%;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  span.btn {
    width: fit-content;
  }

  .c-events__side & {
    figure {
      width: fit-content;

      img {
        width: 32px;
        height: 32px;
      }
    }
  }
}
